/**
 * ##### INFO ABOUT THE ICONS USED IN THIS STYLE #####
 *
 * Collection name: Flag Social Media Icons
 * Author: Designers Digest
 * Author homepage: http://designersdigest.co/
 * License: Creative Commons Attribution-Share Alike 3.0
 * License URL: http://creativecommons.org/licenses/by-sa/3.0/
 * Commercial usage: Allowed
 *
 * Note: the company logos in the icons are copyright of their respective owners.
 *
 * NOTE:
 * Conrad Kleinespel (http://conradk.com), original creator of the SocialBar is NOT the designer of these icons in any way.
 * All credits for the icons go to the above mentionned author.
 * The icons are to be used as described above.
 *
 * PROBLEMS?
 * If you are the owner of these icons, and you find that the use of them for this Drupal module is inappropriate,
 * please contact me at contact@conradk.com.
 *
 */


#social-bar {
	height: 305px;
	width: 6px;
	position: fixed;
	left: 0px;
	top: 50%;
	margin-top: -200px;
	z-index: 1000;
}
#social-bar a {
	display: block;
	overflow: hidden;
	text-indent: -8793px;
	height: 48px;
	width: 48px;
	border:none;
	margin-bottom: 3px;
	margin-left: -2px;
	background: url('../img/st1/sprite.png') no-repeat top left;
}

#social-bar #delicious-icon {
background-position: 0 -116px;
}
#social-bar #digg-icon {
background-position: 0 -232px; /* also available: background-position: 0 -58px; width: 48px; height: 48px; */
}
#social-bar #facebook-icon {
background-position: 0 -290px;
}
#social-bar #rss-icon{
background-position: 0 -986px;
}
#social-bar #stumble-icon {
background-position: 0 -1044px;
}
#social-bar #twitter-icon {
background-position: 0 -1102px;
}

/**
 * ADDITIONAL ICONS AVAILABLE
 *
 * .sprite-Blogger{ background-position: 0 0; }
 * .sprite-Yahoo{ background-position: 0 -1160px; }
 * .sprite-Youtube{ background-position: 0 -1218px; }
 * .sprite-lastFm{ background-position: 0 -1276px; }
 * .sprite-technorati{ background-position: 0 -1334px; }
 * .sprite-DeviantArt{ background-position: 0 -174px; }
 * .sprite-Flickr_1{ background-position: 0 -348px; }
 * .sprite-Flickr_2{ background-position: 0 -406px; }
 * .sprite-Flickr_3{ background-position: 0 -464px; }
 * .sprite-Google{ background-position: 0 -522px; }
 * .sprite-Gtalk{ background-position: 0 -580px; }
 * .sprite-LinkedIn{ background-position: 0 -638px; }
 * .sprite-Myspace{ background-position: 0 -696px; }
 * .sprite-NetVibes{ background-position: 0 -754px; }
 * .sprite-NewsVine{ background-position: 0 -812px; }
 * .sprite-Orkut{ background-position: 0 -870px; }
 * .sprite-Picasa{ background-position: 0 -928px; }
 */

.tooltip {
	background: #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding:4px 8px 4px 8px;
	color:#fff;
	font-size:11px;
	font-weight: bold;
}