/**
 * ##### INFO ABOUT THE ICONS USED IN THIS STYLE #####
 *
 * Collection name: Vector Social Media Icons
 * Author: Icon Dock
 * Author homepage: http://icondock.com
 * License: Free to use for whatever purposes.
 *
 * Note: the company logos in the icons are copyright of their respective owners.
 *
 * NOTE:
 * Conrad Kleinespel (http://conradk.com), original creator of the SocialBar is NOT the designer of these icons in any way.
 * All credits for the icons go to the above mentionned author.
 * The icons are to be used as described above.
 *
 * PROBLEMS?
 * If you are the owner of these icons, and you find that the use of them for this Drupal module is inappropriate,
 * please contact me at contact@conradk.com.
 *
 */

/**
 * @todo add styles for other icons available in the sprite
 */

#social-bar {
	height: 305px;
	width: 6px;
	position: fixed;
	left: 0px;
	top: 50%;
	margin-top: -200px;
	z-index: 5000;
}
#social-bar a {
	display: block;
	overflow: hidden;
	text-indent: -16402px;
	height: 42px;
	width: 42px;
	border:none;
	margin-bottom: 3px;
	margin-left: -15px;
	background: url('../img/st2/sprite.png') no-repeat top left;
}

#social-bar #delicious-icon {
	background-position: 0 0;
}
#social-bar #digg-icon {
	background-position: -137px -68px;
}
#social-bar #facebook-icon {
	background-position: -273px 0;
}
#social-bar #rss-icon{
	background-position: -205px -614px;
}
#social-bar #stumble-icon {
	background-position: -69px -68px;
}
#social-bar #twitter-icon {
	background-position: -137px 0;
}

.tooltip {
	background: #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding:4px 8px 4px 8px;
	color:#fff;
	font-size:11px;
	font-weight: bold;
}