.tooltip {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding:4px 8px 4px 8px;
	color:#fff;
	font-size:11px;
	font-weight: bold;
}
#social-bar a {
	margin-right: 10px;
}